body {
  margin: 0;
  --max-content-width: 1024px;
}

.flex {
  display: flex;
}

.flex-vertical-center {
  align-items: center;
}

.flex-horizontal-center {
  justify-content: center;
}

.flex-horizontal {
  flex-direction: row;
}

.large-font {
  font-size: large;
}

.small-font {
  font-size: small;
}

.limit-content-width {
  --content-width: 1024px;
  padding-left: calc((100vw - var(--content-width)) / 2);
  padding-right: calc((100vw - var(--content-width)) / 2);
}

.auto-overflow {
  overflow: auto;
}
