.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.no-margin {
  margin: 0;
}

.small-font {
  font-size: small;
}

.round {
  border-radius: 100%;
}
